pillow==4.0.0
cmake 

#resnet visualization
matplotlib==2.0.2

# aeon (for examples using aeon only without neon)
#-e git://github.com/NervanaSystems/aeon.git@e759638574bfbd431ce23d044a90daed18a57cd0#egg=nervana-aeon
