# tensorflow & protobuf
tensorflow==0.12.0
# scipy (temporary add)
scipy==0.18.1
# autopep8 (temporary add)
autopep8==1.2.4
# other requirements
tqdm==4.8.4
enum34==1.1.6
future==0.15.2
configargparse==0.11.0
h5py==2.6.0
cachetools==2.0.0
decorator==4.0.10
requests==2.12.4
# aeon (for examples using aeon only without neon)
#-e git://github.com/NervanaSystems/aeon.git@e759638574bfbd431ce23d044a90daed18a57cd0#egg=nervana-aeon
# notebooks
jupyter==1.0.0
nbconvert==5.0.0
nbformat==4.2.0
setuptools>=18.5
