mpi4py==2.0.0
# tensorflow & protobuf
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.9.0-cp27-none-linux_x86_64.whl; python_version <= '2.7'
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.9.0-cp34-cp34m-linux_x86_64.whl; python_version == '3.4'
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.9.0-cp35-cp35m-linux_x86_64.whl; python_version == '3.5'
# autopep8 (temporary add)
autopep8==1.2.4
